
:root{
  /*? Colors */
  
  --rusianViolet2: #261C4E;
  --rusianViolet3: #1F0937;
  --mistyMoss: #B6B37E;
  --mistyMoss2: #A49958;
  --olive :  #9D9121;
  --cafeNoir: #574331;

  --primaryC: #363062;
  --secondaryC: #4D4C7D;
  --tertiaryC: #827397;
  --fontC: #e9d5da;
  --rusianViolet: #261C4E;
  --glaucous: hsl(232, 50%, 75%);
  --maxBluePurple: #BFB7E6;
  --black: #000000;
  --white: #fff;

}
html,
body {
  padding: 0;
  margin: 0;  
  font-family: 'Yantramanav', sans-serif;

}
* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
